.img{
    height: 100%;
    width: 112%;
  }

  #msg{
    color:dimgray;
  }
  .input{
    margin: 0 auto;
 width: 200px;
 vertical-align: middle;

  }
  .btn btn-warning{
    vertical-align: middle;
  }
  .phone{
    margin: 0 auto;
    width: 250px;
   
  }
 .input-group mb-3{
    width: 100px;
 }

 .hh{
    width: 400px;
 }

 .form-input-text{
    width: 400px;
    height: 100px;
 }
 #mainpage{
    background-color: #2596be;
 }
 .d-flex{
    margin-right: 35%;
margin-left:35%;
   }
 .service-section{
    background-color:#f2f2f2;
 }
 .navbar-brand {
   color: white;
 }
 .navbar-brand1 {
   color: white;

 }
 .card{
   background-color: #f2f2f2;
 }
 #exampleInputEmail1{
   width: 200px;
   margin: auto;
 }
#button-addon1{
   margin-left: 59%;
   margin-right: 41%;
}
#alreadymember{
  text-align: right;
  top:0;
  right: 0;
  float:right;
  position: absolute;
}
.fistbox{
   margin-right: 24%;
}
